@use './variables.scss';

.l-container {
    max-width: 1222px;
}

.l-primary-button {
    background-color: #1f1f1f;
    border-radius: 100px;
    color: #fff;
    padding: 0 60px;
    text-align: center;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 130%;
    cursor: pointer;
}

.l-primary-button:hover {
    background-color: #FBCE51;
    color: #1f1f1f;
}

.l-primary-button.secondary {
    background: none;
    color: #1f1f1f;
    border: 2px solid #000;
}

.l-primary-button.secondary:hover {
    background-color: #1f1f1f;
    color: #fff;
}

.l-primary-input {
    width: 200px;
    height: 100%;
    padding-left: 18px;
    background: none;
    border: 1px solid var(--color-gray);
    border-radius: 12px;
}

.l-primary-input:hover {
    border-color: var(--color-text);
    color: var(--color-text);
}

.l-primary-input:hover::placeholder {
    color: var(--color-text);
}

.l-title {
    font-size: var(--fs-4xl);
    font-weight: 600;
    line-height: var(--lh-7xl);
    color: var(--color-text);

    &_color-reverse {
        color: var(--color-dark-blue);
    }
}

.l-title_2 {
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: var(--lh-3xl);
    color: var(--color-dark-blue);
}

.l-title_3 {
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: var(--lh-lg);
    color: var(--color-gray);
}
