@use './variables.scss';

.l-container {
    max-width: 1222px;
    margin: 0 auto;
}

.l-primary-button {
    background-color: #1f1f1f;
    border-radius: 100px;
    color: #fff;
    padding: 0 60px;
    text-align: center;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 130%;
    cursor: pointer;
}

.l-primary-button:hover {
    background-color: #FBCE51;
    color: #1f1f1f;
}

.l-primary-button.secondary {
    background: none;
    color: #1f1f1f;
    border: 2px solid #000;
}

.l-primary-button.secondary:hover {
    background-color: #1f1f1f;
    color: #fff;
}

.l-text-red {
    color: #F54932;
    font-weight: 700;
}